<div class="list-group icon-content-list-container">
    <a class="list-group-item icon-content-single" href="@Url.Action(MVC.Home.Index())">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Home</strong>
                <i class="icon-crown-king-streamline"></i>
            </h4>
        </div>
    </a>
    <a class="list-group-item icon-content-single " id="A1" href="@Url.Action(MVC.Home.About(4))">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>About</strong> US
                <i class="icon-crown-king-streamline"></i>
            </h4>
        </div>
    </a>
    <a class="list-group-item icon-content-single" href="@Url.Action(MVC.Home.LatestEventsList())">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Latest</strong> Events
                <i class="icon-crown-king-streamline"></i>
            </h4>
        </div>
    </a>
    <a class="list-group-item icon-content-single " href="#" id="A1">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Image </strong>Gallery
                <i class="icon-crown-king-streamline"></i>
            </h4>
        </div>
    </a>
    <a class="list-group-item icon-content-single " href="#" id="A1">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Video </strong>Gallery
                <i class="icon-crown-king-streamline"></i>
            </h4>
        </div>
    </a>
    <a class="list-group-item icon-content-single " id="A1" href="@Url.Action(MVC.Home.CommitteeSection())">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Management</strong>
                <i class="icon-crown-king-streamline"></i>
            </h4>
        </div>
    </a>
    <a class="list-group-item icon-content-single " id="A1" href="@Url.Action(MVC.Home.About(8))">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Day at</strong> Gurdwara
                <i class="icon-crown-king-streamline"></i>
            </h4>
        </div>
    </a>

    @*<a class="list-group-item icon-content-single" id="A2" href="@Url.Action(MVC.Home.HukamnamaView())">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Daily </strong>HukamNama
                <i class="icon-picture-streamline"></i>
            </h4>
        </div>
    </a>*@

    <a class="list-group-item icon-content-single" id="A3" href="@Url.Action(MVC.Home.About(10))">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Punjabi </strong> Classes
                <i class="icon-study"></i>
            </h4>
        </div>
    </a>

    @*<a class="list-group-item icon-content-single" id="A4" href="@Url.Action(MVC.Home.About(11))">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Library </strong>
                <i class="icon-book-open"></i>
            </h4>
        </div>
    </a>*@
    @*<a class="list-group-item icon-content-single" id="A5" href="@Url.Action(MVC.Home.LiveStream())">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Live Streaming </strong>
                <i class="icon-book-open"></i>
            </h4>
        </div>
    </a>*@
    <a class="list-group-item icon-content-single " id="A1" href="@Url.Action(MVC.Home.Contact())">
        <div data-animdelay="0.2s" data-animspeed="1s" data-animrepeat="0" data-animtype="fadeIn" class="content-box  style5 small  animated  fadeIn animatedVisi" style="animation-delay: 0.2s; animation-duration: 1s;">
            <h4 class="h4-body-title">
                <strong>Contact</strong> US
                <i class="icon-crown-king-streamline"></i>
            </h4>
        </div>
    </a>
</div>