@model GSS.Models.Models.EventGalleryModel
@{
    ViewBag.Title = "Event Gallery";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script type="text/javascript">
    check_page(9);

</script>


<div class="box">
    <div class="box-head">
        <h2>Add New Gallery Event      <span style="height: 26px; float: right; font-size: 15px;">@ViewBag.error</span></h2>
        
    </div>

    
    <div class="form">

        @using (Html.BeginForm("AddEventGallery", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
        {

            @Html.AntiForgeryToken()
            <p>
                <label>Event Name<span>(Required Field)</span></label>
                @Html.TextBoxFor(d => d.EventName, new { @class = "field size1" })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "errors" })
            </p>
            <p>

                <label>Upload Thumbnail Image Image<span>(Required Field)</span></label>


                @Html.TextBoxFor(model => model.ThumbnailImage, new { @class = "col-xs-12", type = "file" })
                @Html.ValidationMessageFor(model => model.ThumbnailImage)

            </p>

            <div class="clear-fix"></div>
            <div class="form-group col-sm-6">
                @if (Model != null && (Model.Id != 0))
                {

                    <div class="col-sm-7">
                        <ul style="list-style: none; margin-top: -42px;">
                            <li>
                                <img style="width: 100px; margin-top: 41px;" src='/@Model.ThumbnailImage' alt="image" />
                            </li>
                        </ul>
                    </div>

                }
            </div>

            <p>
                <label>Upload Event Image's<span>(Required Field)</span></label>
                <input type="file" multiple="multiple" name="File1" id="File1" accept="image/*" />

            </p>

            <div class="form-group col-sm-6">
                @if (Model != null && (Model.Id != 0))
                {


                <div id="dialog-confirm"></div>

                <div class="col-sm-10">
                    @if (Model != null && Model.Images != null)
                        {
                        <ul class="product-grid" style="list-style: none;">
                            @foreach (var image in Model.Images)
                                {
                                    if (image.ImagePath != null)
                                    {
                                <li>
                                    <a title="Delete Image" onclick="return deleteImage(@image.Id.ToString(), @Model.Id.ToString()); " href="#"><span>Remove Image</span></a>
                                    <img style="width: 98px; height: 98px;" src='/@image.ImagePath' alt="@image.ImageName" />
                                </li>
                                    }
                                }
                        </ul>
                        }

                </div>

                }
            </div>

            <div class="clear-fix"></div>

            <p>
                <input type="submit" value="Submit" class="button" />
            </p>

        }
    </div>
</div>

<script type="text/javascript">

    function deleteImage(id, eventId) {

        $("#dialog-confirm").html("<b>Are you sure to delte this Image</b>");

        // Define the Dialog and its properties.
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Confirmation Message",
            height: 150,
            width: 250,
            buttons: {
                "Yes": function () {

                    callbackimage(id, eventId);
                },
                "No": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function callbackimage(id, eventId) {

        var requestData = "";
        requestData = {
            'id': id,
            'eventId': eventId
        };
        $.ajax({
            url: '/Admin/DeleteEventGalleryImage/',
            type: 'POST',
            data: requestData,
            datatype: "json",
            success: function (msg) {
                location.reload();
            }
        });

    }

</script>