@model GSS.Models.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    check_page(1);
</script>

<div class="box">
    <div class="box-head">
        <h2>Change Password</h2>
    </div>
    <div class="form">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
        {

            @Html.AntiForgeryToken()
            <p>
                <label>Current Password<span>(Required Field)</span></label>
                @Html.PasswordFor(d => d.OldPassword, new { @class = "field size1" })
              
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "errors" })
            </p>



            <p>

                <label>New Password<span>(Required Field)</span></label>
                @Html.PasswordFor(d => d.NewPassword, new { @class = "field size1" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "errors" })
            </p>



            <p>
                <label>Confirm Password<span></span></label>
                @Html.PasswordFor(d => d.ConfirmPassword, new { @class = "field size1" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "errors" })
            </p>

            <p>
                <input type="submit" value="Submit" class="button" />
            </p>

        }
    </div>



</div>
