@model GSS.Models.Models.ForgotPassword
@{

    Layout = "";

}
@{
    string pageTitle = @ViewBag.Title ?? "Forgot Password | Admin Area";

}
<title>@pageTitle</title>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<link href="~/Content/Login.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jqueryval")
<div class="login" id="Forgot">

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
    {

        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Forgot Password</h1>
                    <span class="errors">@ViewBag.error</span>
                </div>
                <div class="login-form">
                    <div class="control-group">
                        @Html.TextBoxFor(d => d.UserName, new { @class = "login-field", placeholder = "Username", @id = "login-name" })
                        <label class="login-field-icon fui-user" for="login-name"></label>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "errors" })
                    </div>
                    <input type="submit" class="btn btn-primary btn-large btn-block" value="Submit" />
                    <a class="login-link" id="Logeed" href="@Url.Action(MVC.Account.Login())">Back to Login</a>
                </div>
            </div>
        </div>

    }



</div>
